<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mulah System</title>
  <link rel="stylesheet" type="text/css" href="stylesheet.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <component :mobileNumber="this.mobileNumber"></component>
    <div class="Container">
      <h1 class="title">MULAH</h1>
      <br>
      <h1 class="greetings">{{message}}</h1>
      <h1 class="greetings">Welcome!</h1>
      <p class="des">Check Your Loyalty Points & Rewards</p>
      <form @submit.prevent="login">
        <div class="text-area">
          <select for="mobile-number" v-model="selected" required>
            <option value="+60 ">+60</option>
            <option value="+70 ">+70</option>
            <option value="+80 ">+80</option>
            <input class="mobile" placeholder="Enter your mobile number" type="tel" id="mobile-number" v-model="mobileNumber"
              pattern="[0-9]{10}" required/>
          </select>
        </div>
        <button class="button" type ="submit" v-on:click="login">Check Loyality Point</button>
      </form>
      <footer>
        <hr>
        <p>Powered by <a href="MulahRewards.com">MulahRewards.com</a></p>
      </footer>
    </div>
  </div>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
          message: 'Hello,',
          mobileNumber: '',
          error: '',
      
      },
      methods: {
        login() {
          if (this.mobileNumber && (/^[0-9]{10}$/.test(this.mobileNumber))) {
            localStorage.setItem('mobileNumber', this.selected + this.mobileNumber);
            window.location.href = 'register.html';
            
          } else {
            window.alert = 'Invalid Number';
          }
        },
      },
    });
  </script>
</body>
</html>


