<!DOCTYPE html>
<html>

<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css" />
</head>
<body>
    <div id="app">
        <h1 class="title">Mulah</h1>
        <h2 class="sub">Registration</h2>
        <p class="desg">Please fill up details</p>
        <form>
            <div>

                <p>Name</p>
                <input placeholder="Enter Name" type="name" id="mobile-number" v-model="name" required />
                <p class="warning">*Please insert a name</p>


                <p>Birthday</p>
                <input class=date placeholder="DD" type="dd" id="date" v-model="dd" required>
                <input class=date placeholder="MM" type="mm" id="month" v-model="mm" required>
                <input class=date placeholder="YYYY" type="yyy" id="year" v-model="yy" required>
                <p class="warning">*Please insert your birthday</p>

                <p>Email</p>
                <input placeholder="Email Address" type="email" id="email" v-model="email" required />
                <p class="warning">*Please insert a valid email address</p>
                <input type="checkbox" id="noemail" value="No Email Addres" />
                <label for="noemail">No email address</label><br />
            </div>

            <button v-on:click="Register">Continue</button>

            <hr>
            
            </hr>
            <footer>
                <p>Powered by <a href="MulahRewards.com">MulahRewards.com</a></p>
            </footer>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="register.js"></script>
</body>


</html>