<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <div class="Container">
        <h1 class="subtitle">MULAH</h1>
        <h2 class="sub">Registration</h2>
        <h2 class="desc">Please fill up details</h2>
        <form>
        
            <div class="text-area">
            <p>Name</p>
                <input class="norm" placeholder="Enter Name" type="name" id="name" v-model="name" required/>
                <p class="warning">*Please insert a name</p>
            </div>

            <div class="text-area">
            <p>Birthday</p>
                <input class=date1 placeholder="DD" type="dd" id="date" v-model="dd"  pattern="[0-31]{2}"required></input>
                <input class=date2 placeholder="MM" type="mm" id="month" v-model="mm"  pattern="[0-12]{2}"required></input>
                <input class=date3 placeholder="YYYY" type="yyyy" id="year" v-model="yy"  pattern="[0000-2050]{4}"required></input>
                <p class="warning">*Please insert your birthday</p>
            </div>
      
            <div class="text-area">
            <p>Email</p>
                <input class="norm" placeholder="Email Address" type="email" id="email" v-model="email" required />
            <p class="warning">*Please insert a valid email address</p>

            <input class=checkbox type="checkbox" id="noemail" value="No Email Addres"></input>
            <label class=lbemail for="noemail">No email address</label>
            <br/>
            </div>

            <button v-on:click="Register">Continue</button>
           
        </form>
        <footer>
            <hr> </hr>
            <p>Powered by <a href="MulahRewards.com">MulahRewards.com</a></p>
        </footer>
    </div>
    <script>
        export default {
        props: ['message'],
        name: '',
        dd: '',
        mm: '',
        yy: '',
        email: '',
        },
        
        methods: {
            handleSubmit() {
                const data = {
                    name: this.name,
                    dd: this.dd,
                    mm: this.mm,
                    yy: this.yy,
                    email: this.email
                }
                console.log('submitted')
            }

        
        }

        // var app = new Vue({
        //     el: '#app',
        //     data: {
        //         name: '',
        //         dd: '',
        //         mm: '',
        //         yy: '',
        //         email: '',
        //     },
        //     methods: {
        //         handleSubmit() {
        //             const data = {
        //                 name: this.name,
        //                 dd: this.dd,
        //                 mm: this.mm,
        //                 yy: this.yy,
        //                 email: this.email
        //             }
        //             console.log('submitted')
        //         }
        
        
        //     }
        // })
        
        </script>
</body>
